@import "tailwindcss";

@font-face {
  font-family: "Arvo";
  src: url("./fonts/Arvo/Arvo-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("./fonts/inter/Inter-Medium.otf") format("opentype");
}

:root {
  --background: #333333;
  --foreground: #FFFFFF;
}

.name {
  font-family: "Arvo";
  font-size: 120px;
  text-align: center;
  color: var(--foreground);
  padding-top: 78px;
}

.centered-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
  margin-top: -1px;
}

.centered-image.top-image {
  padding-top: 113px;
}

.centered-image.bottom-image {
  margin-top: -1.5px;
}

.centered-image.middle-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-family: "inter";
  font-size: 52px;
  text-align: center;
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
